.portfolio__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background: rgb(0, 0, 0);
}

.portfolio__footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    text-align: left;
    color: var(--color-white);
    text-decoration: none;
    list-style: none;
}

.portfolio__footer-links li:hover{
    color:var(--color-pink);
}

.portfolio__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.portfolio__footer-copyright p {
    font-size: 12px;
    line-height: 14px;
    color: var(--color-pink);

    margin-top: 1rem;
}

@media screen and (max-width: 850px) {
    .portfolio__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .portfolio__footer-links {
        margin: 1rem 0;
    }

    .gpt3__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}